body {
  background-color: #e9f0ff;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
    

h5 {
  text-align: center;
}

#contenedorip {
  margin-top: 40px;
  margin-bottom: 40px;
}
   
button {
  border-radius: 10px !important;
}

input{
  border-radius: 10px !important;
  width: auto !important;
}

.card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #a1b5d8;
}


.icono {
  font-size: 20px;
  padding: 5px;
  border-radius: 12px;
  color: white;
  margin-bottom: 10px;
  width: 40px;
  text-align: center;
}

.icono-cpu { background-color: #042b9677; }
.icono-ram { background-color: #34a56794; }
.icono-disco { background-color: #5f5d5d91; }
.icono-red { background-color: #3b81c298; }
    
.icono-so { background-color: #7978788a; }
.icono-uptime { background-color: #b96a0386; }
.icono-procesos { background-color: #cccf1380; }
.icono-usuarios { background-color: #0058ca85; }